body {
    background: url("https://phonoteka.org/uploads/posts/2022-02/1644948978_1-phonoteka-org-p-fon-vatsap-1.jpg") no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0% 50%;
}
.nav-item {
    list-style-type: none;
}